body{
  font-size: 13px !important;
}
.left_show_hide_button{
  position:fixed;
  width:50px;
  top:90%;
  left:5px;
  z-index: 999;
}
.right_show_hide_button{
  position:fixed;
  width:50px;
  top:90%;
  right:-0.8%;
  z-index: 1999;
}
#right, .bg-light.lter, .bg-light, .lter {
  min-height: 87vh !important; 
}
.bg-dark {
  color: #000 !important;
}
.Footer{
  color: #fff !important;
}
.container{
  padding: 10px 0px;
}
.inner_container{
  /*padding: 10px 0px;*/
}
.outer{
	margin-bottom: 48px !important;
  padding: 0px !important;
  background-color: #222222 !important;
}
.abt_inner{
	border: 1px solid #6E6E6E;
	min-height: 300px;
	background-color: white;
	border-radius: 10px;
	font-size: 12px;
}
.abt_inner h5 {
  font-size: 12px;
  padding: 9px;
  margin: 0px;
  color: white;
  border-radius: 6px 6px 0px 0px;
  background-color : #3A3A3A;
}
.panel-default .panel-heading {
  background-color : #3A3A3A !important;
  color: #fff !important;
}
.panel-default .panel-heading a{
  background-color : #3A3A3A !important;
  color: #fff !important;
}
.panel-body {
  border: 1px solid #6E6E6E !important;
}
.var_list {
  width: 100%;
  padding: 10px;
  /* background-color: #FFFFFF; */
}
.panel-title {
	font-size : 13px !important;
}
.nav-tabs>li>a {
  border: 1px solid transparent;
  border-radius: 8px 8px 0 0;
}
.nav-tabs {
  border-bottom: 1px solid #272123;
}
#left {
  background-color: #3A3A3A !important;
}
.box-style{
 /* background: #FFFFFF;
  padding: 10px;
  border: 1px solid silver;
  border-radius: 10px;
  margin-bottom: 10px;*/
}
.tab-pane legend {
  background: #ffffff;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );
  border: 1px solid #ccc !important;
  padding: 7px 10px;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
  color: #666;
  border-radius: 4px 4px 0 0;
}
.google-visualization-orgchart-node-medium {
  font-size: 12px;
  min-width: 130px;
  height: 80px;
}
.box {
   margin: 0px 0px 7px 0px !important; 
}
.orange_btn_color_shade{
  background: #ffffff !important; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #fae1d4 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fae1d4)) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#fae1d4 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#fae1d4 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#fae1d4 100%) !important; /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#fae1d4 100%) !important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcac4b', endColorstr='#ff7b0d',GradientType=0 ) !important; /* IE6-9 */
}
/*.orange_btn_color_shade:hover, .orange_btn_color_shade:active, .orange_btn_color_shade:focus{
  background-color: #fae1d4 !important;
}*/
.panel-group .panel{
  border: 0px solid !important;
}
.inner{
  border: 0px solid !important;
}
.head{
  border-bottom: 0px solid !important;
}
#right {
  right: -255px;
}
#right .collapse.in{
  /*background-color: #98bf6a !important;*/
}
#right .panel{
  background-color: #98bf6a !important;
}
#right pre{
  background-color: #98bf6a !important;
}
.client_data_table{
  border: 1px solid gray;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
}
.client_data_table .btn-block {
  width: 80%;
  margin: 0 auto;
}
.navbar-inverse .navbar-nav>li>a{
  color : #018dc2 !important;
}
.navbar-inverse .navbar-nav>li>a:hover{
  color : #fff !important;
  background-color: #000 !important;
}
.btn {
  padding: 3px 8px !important;
}
/*.edit_delete_img_icon{
  background-color: #7AAB2A !important;
}*/
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  padding: 4px 8px !important;
}
.navbar {
  border: 0px solid !important; 
}
#top .navbar {
  border-top: 3px solid #6E6E6E !important;
}
.box-border{
  border:1px solid gray !important; 
  border-radius:5px !important;
  padding:10px !important;
}
.multiSelect .checkboxLayer{
  right:-1% !important;
  
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  line-height: 1 !important;
  vertical-align: middle !important;
}
.icon_edit_color, .icon_detail_color{
  color: #000 !important;
}
.icon_delete_color{
  color: red !important;
}
.multiSelect .helperButton{
  background-color: #3A3A3A !important;
  color: #fff;
}
.multiSelect .helperButton:hover{
  background-color: #222222 !important;
}
.icon_align_center{
  text-align: center !important;
  width: 5% !important;
}
.icon_anchor_width{
  width: 100% !important;
  height: 100% !important;
}


/*----------------------- Custom css for change design for our requirement ---------------*/
.add_connection_div{
  padding: 0px  33%;
}
.table_configer_div{
  padding: 0px  25%;
}
.table-configer-btn{
  padding: 0px 10%;
}
@media only screen and (min-width : 1024px) and (max-width : 1380px){
  .add_connection_div, .table_configer_div{
    padding: 0px  22%;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: landscape) {
  .add_connection_div, .table_configer_div{
    padding: 0px  15%;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation: portrait) {
  .add_connection_div, .table_configer_div{
    padding: 0px  2%;
  }
}
/* for small screen */
@media (min-width: 10px) and (max-width: 767px) {
  .add_connection_div, .table_configer_div{
    padding: 0px  2%;
  }
  .table-configer-btn{
    padding: 0px;
  }
}

.chk-leaf-child{
  margin-left: 0px !important;
}
.chk_leaf1{
  display: none;
}

#modal-var-attributes .modal-body{
  height:500px;
  overflow: scroll;
}

.var-modal .row {
  margin-bottom: 10px;
}

div.operators div.col-sm-3{
  margin:0px;
  padding:3px;
}

div.operators div.row{
  margin-bottom: 3px;
}

td.google-visualization-orgchart-node.google-visualization-orgchart-node-medium{
  border: 0;
}

.google-visualization-orgchart-node-medium{
  font-size: 10px;
  min-width: 100px;
  height: 50px;   
}

#modal-var-logical-attr{
  height: 400px;
  top: calc(50% - 200px) !important;
}
.model_tree li {
  list-style: none;
  margin-left: -25px;
}
.modal-body{
  margin-left: 15px;
  font-size: 13px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}