<!doctype html>
<html class="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <title>Bizalyticks Vector</title>

    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLES -->
    <link rel="stylesheet" href="css/metisMenu.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">

    <!--SCRIPTS-->
    <script>
      var project_id=1;
      var level_sk=1;
      var sel_abt_id=0;
      var sel_abt={
        abt_sk: 0
      };
    </script>
    <script src="http://www.google.com/jsapi?ext.js"></script>
    <script src="js/jquery-2.0.2.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular_app.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/metisMenu.min.js"></script>
    <script src="js/screenfull.min.js"></script>
    <script src="js/core.js"></script>
    <script src="js/app.js"></script>
    <script src="js/behService.js"></script>
    <script src="js/rntService.js"></script>
    <script src="js/spmService.js"></script>
    <script src="js/derService.js"></script>
  </head>
  <body ng-app="vector"  class='wrapper ng-scope  pace-done sidebar-left-mini' >
    <div ng-controller="AbtCtrl">
      <div class="bg-dark dk" id="wrap">
        <!-- Header -->
        <div id="top">
          <!-- .navbar -->
          <nav class="navbar navbar-inverse navbar-static-top" style="background-color:#222222 !important;" >
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <header class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span> 
                  <span class="icon-bar"></span> 
                  <span class="icon-bar"></span> 
                  <span class="icon-bar"></span> 
                </button>
                <a href="index.html" class="navbar-brand">
                  <img src="images/logo.png" alt="Bizalyticks logo">
                </a>
                  <header class="head" style="float:left;">
                  <div class="main-bar">
                    
                    <h3><i class="fa fa-table "></i>&nbsp;ABT</h3>
                    
                  </div><!-- /.main-bar -->
                </header><!-- /.head --> 
              </header>
              
              <!-- Header top menu per page -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  <!-- Project/index -->
                  
                  <!-- project/abt -->
                  
                    <li><a href="#" ng-click="show_save_abt($event)" title="New Abt"><i class='ion-plus-circled'></i> <span>Add Abt</span></a></li>
                    <li> <a href="variables.html" ng-show="current_abt.abt_sk" title="Add Variables"><i class='ion-plus-round'></i> <span>Add Variable</span></a></li>
                    <li><a href="#" ng-click="show_edit_abt($event,current_abt)" ng-show="current_abt"><i class='ion-ios7-compose'></i><span>Edit</span></a></li>
                    <li><a href="#" ng-show="current_abt" ng-click="delete_abt_confirm($event,current_abt)"><i class='ion-close-circled'></i> <span>Delete</span></a></li>
                    <li><a href="#" ng-disabled="true"><i class='ion-archive'></i> <span>Download</span></a></li>
                    <li><a href="#" ng-show="current_abt.abt_sk" ng-click="show_build_abt($event)" title="Build ABT"><i class='ion-flash'></i> <span>Build Abt</span></a></li>
                    <li><a href="#" ng-show="current_abt"><i class='ion-ios7-sunny'></i> <span>Explore ABT</span></a></li>
                                    
                  <!-- project/variable -->
                                    
                  <!-- project/subsets -->
                  
                  <!-- models/index -->
                  
                  <!-- user/index -->
                  
                   <!-- client/manage_data_sources -->
                  
                   <!-- client/manage_data_tables  -->
                  
                  <!-- <li ng-show="current_page=='config_columns'"><a ng-click="hide_selected_columns()"><i class="fa fa-eye-slash"></i>&nbsp;<span>Hide selected</span></a></li> -->
                  <!-- <li ng-show="current_page=='config_columns'"><a ng-click="unhide_hidden_columns()" ng-show="current_table.hidden_columns.length>0"><i class="fa fa-eye"></i>&nbsp;<span>Unhide {{current_table.hidden_columns.length}} hidden columns</span></a></li>                    -->
                  <li>
                    <div class="topnav">
                      <div class="btn-group">
                        <a data-placement="bottom" data-original-title="Fullscreen" data-toggle="tooltip" class="btn btn-default btn-sm" id="toggleFullScreen">
                          <i class="glyphicon glyphicon-fullscreen" style="color:#00b4eb;"></i>
                        </a> 
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div><!-- /.container-fluid -->
          </nav><!-- /.navbar -->
        </div>
        <!-- /Header -->

        <!-- Left Sidebar -->
        <div id="left">
          <!-- Welcome box -->
          <div class="media user-media bg-dark dker">
            <div class="user-media-toggleHover">
              <span class="fa fa-user"></span> 
            </div>
            <div class="user-wrapper">
              <a class="user-link" href="">
                <img class="media-object img-thumbnail user-img" alt="User Picture" src="images/user.gif">
                <!-- <span class="label label-danger user-label">16</span>  -->
              </a> 
              <div class="media-body">
                <h5 class="media-heading">Welcome </h5>
                <ul class="list-unstyled user-info">
                  <li>Admin</li>
                  <li><a href="#" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom" style="color:#00b4eb;text-decoretion:none;"><b>Logout</b></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- #menu -->
          <ul id="menu" class="">
            <li class="nav-divider"></li>
            
              <li  ><a href="#"><i class="fa fa-dashboard"></i>&nbsp;&nbsp;<span class="link-title">Projects</a></span></li>
            
            
              
                <li  ><a href="#"><i class="fa fa-filter"></i>&nbsp;&nbsp;<span class="link-title">Subsets Criteria</span></a></li>
                <li  class="active"  ><a href="index.html"><i class="fa fa-table"></i>&nbsp;&nbsp;<span class="link-title">Analytical Base Tables</span></a></li>
                <li><a href="#" ng-click="goto_data_explore($event)"><i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;<span class="link-title">Data Exploration</span></a></li>
                <li  ><a href="#" ng-click="goto_model($event)">&nbsp;<i class="fa fa-bolt"></i>&nbsp;&nbsp;&nbsp;<span class="link-title">Models</span></a></li>
                <li><a href="#" ><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;<span class="link-title">Model Evaluation</span></a></li>
              
            
            <li class="nav-divider"></li>
            <li></li>
            
              <li><a href="#"><i class="fa fa-user"></i>&nbsp;&nbsp;<span class="link-title">Admin</a></span></li>
            
            <li class="nav-divider"></li>
          </ul>
          <!-- /#menu -->
        </div>
        <!-- /Left Sidebar -->

        <!-- Content -->
        <div id="content">
          <div class="outer">
            <div class="inner bg-light lter">
              <div class="container">
                  <div class="inner_container" ng-cloak>
                      <div class="row sub-icons">
                          <div class="col-md-12">
                              <div style="float:left" class="btn-group menu-bar">
                                  
                              </div>
                              <!-- <div class="col-md-1">
                                  <select class="form-control">
                                      <option>Menu</option>
                                  </select>
                              </div> -->
                          </div>
                      </div>
                      
                      <div class="tab-content move-up">
                          <div class="main_content fade in active" id="abt-manage">
                              <div class="row">
                                  <div class="col-md-8">
                                      <!-- <h5>Analytical Base Tables for User Viewership {{current_abt.abt_short_nm? " ABT: "+current_abt.abt_short_nm : "" }}</h5>         -->
                                  </div>
                                  <div class="col-md-4">
                                      <span class="pull-right">
                                          <!-- <a href="#" class="btn btn-default" ng-click="show_save_abt($event)"> <img src="images/icons/add.gif" alt="Add ABT"> Add ABT</a> -->
                                         <!--  <a href="/project/variables/{{current_abt.abt_sk}}" class="btn btn-default" ng-show="current_abt.abt_sk" > <img src="images/icons/add.gif" alt="Add Variable"> Add variables to {{current_abt.abt_short_nm}}</a>
                                          <a href="#" class="btn btn-default" ng-show="current_abt.abt_sk" ng-click="show_build_abt($event)" > <img src="images/icons/add.gif" alt="Start Build ABT"> Build this ABT: {{current_abt.abt_short_nm}}</a> -->
                                      </span>
                                  </div>
                              </div>
                           
                              <div class="row">
                                  <div class="col-md-2">
                                          <div class="abt_inner">
                                              <h5><i class="ion-clipboard"></i>&nbsp;&nbsp;Analytical Base Tables</h5>
                                              <table class="table table-striped" class="border:1px solid silver">
                                                  <tbody>
                                                      <tr ng-repeat="abt in abts" ng-class="{'info':current_abt==abt}" ng-click="show_fields($event,abt)">
                                                          <td><a href="#" ng-click="show_fields($event,abt)">{{abt.abt_short_nm}}</a></td>
                                                          <!-- <td width="5%"><a href="#"  ng-click="show_edit_abt($event,abt)" title="Edit ABT"> <img src="images/icons/edit.gif" alt="Edit"></td>
                                                          <td width="5%"><a href="#"  title="Delete ABT"> <img src="images/icons/delete.gif" alt="Delete" ng-click="delete_abt_confirm($event,abt)"></td> -->
                                                      </tr>
                                                  </tbody>
                                              </table>
                                              <!-- <div>
                                                  <a href="#" class="btn btn-default" ng-click="show_save_abt($event)"> <img src="images/icons/add.gif" alt="Add ABT"> Add ABT</a>
                                              </div> -->
                                          </div>
                                      <!-- .abt_inner -->
                                  </div>
                                  <div class="col-md-10">
                                      <div class="box-style table-responsive">
                                          <div ng-hide="current_abt.abt_sk">
                                              <div class="alert alert-warning">
                                                  Please select an ABT from the left column
                                                  <br>
                                                  Or create a new ABT by clicking clicking the button below
                                                  <br>
                                                  <a href="#" class="btn btn-default" ng-click="show_save_abt($event)"> <img src="images/add.gif" alt="Add ABT"> Add ABT</a>
                                              </div>
                                          </div>
                                          <div ng-show="current_abt.abt_sk">
                                              <div class="box table-responsive">
                                                  <header>
                                                      <h5>All Variables ({{variables.length}})</h5>
                                                      <div class="toolbar">
                                                          <input style="margin-top:2px;" class="form-control" placeholder="Enter filter text" ng-model="abt_filter">
                                                          <!-- <div class="btn-group">
                                                              <a href="#" class="btn btn-default orange_btn_color_shade" ng-click="show_save_abt($event)" title="New Abt"><i class='ion-plus-circled'></i> <span>Add Abt</span></a>
                                                              <a href="/project/variables/{{current_abt.abt_sk}}" class="btn btn-default orange_btn_color_shade" ng-show="current_abt.abt_sk" title="Add Variables"><i class='ion-plus-round'></i> <span>Add Variable</span></a>

                                                              <a href="#" class="btn btn-default orange_btn_color_shade" ng-click="show_edit_abt($event,current_abt)" ng-show="current_abt"><i class='ion-ios7-compose'></i> <span>Edit</span></a>
                                                              <a href="#" ng-show="current_abt" class="btn btn-default orange_btn_color_shade" ng-click="delete_abt_confirm($event,current_abt)"><i class='ion-close-circled'></i> <span>Delete</span></a>
                                                              <a href="#" class="btn btn-default orange_btn_color_shade" ng-disabled="true"><i class='ion-archive'></i> <span>Download</span></a>
                                                              <a href="#" class="btn btn-default orange_btn_color_shade" ng-show="current_abt.abt_sk" ng-click="show_build_abt($event)" title="Build ABT"><i class='ion-flash'></i> <span>Build Abt</span></a>                       
                                                              <a href="/dataexplore/index/{{current_abt.abt_sk}}" class="btn btn-default orange_btn_color_shade" ng-show="current_abt"><i class='ion-ios7-sunny'></i> <span>Explore ABT</span></a>
                                                              <!-- <a href="/models/index/4?abt_id={{current_abt.abt_sk}}" class="btn btn-default btn-xs" ng-show="current_abt"><i class='ion-ios7-sunny'></i> <span>Models</span></a> -->
                                                              <!-- <a href="#" class="btn btn-default btn-xs"><i class='ion-stats-bars'></i> <span>Chart</span></a> -->
                                                              <!-- <a href="#" class="btn btn-default btn-xs"><i class='ion-checkmark-circled'></i> <span>Select</span></a> -->
                                                          <!-- </div> -->
                                                      </div>
                                                  </header>
                                                  <div class="body">
                                                      <form role="form" ng-submit="delete_selected_var_confirm()">
                                                          <table class="table table-bordered sortableTable table-hover responsive-table">
                                                              <thead>
                                                                  <tr>
                                                                      <th>#</th>
                                                                      <th width="5%"><input type="checkbox" ng-model="select_all"></th>
                                                                      <th>Name</th>
                                                                      <th>Short Name</th>
                                                                      <th>Description</th>
                                                                      <th>Type</th>
                                                                      <!-- <th>Source Table</th> -->
                                                                      <th>Edit</th>
                                                                  </tr>
                                                              </thead>
                                                              <tbody>
                                                                  <tr ng-repeat="variable in variables | filter:abt_filter">
                                                                      <td>{{$index+1}} </td>
                                                                      <td><input type="checkbox" ng-model="variable.selected" ng-checked="select_all" ng-click="disable_delete_button()"></td>
                                                                      <td nowrap="nowrap">{{variable.variable_column_nm}}  <span class="target" ng-show="variable.outcome_variable_flg=='Y'"> [T] </span>
                                                                      <!-- <pre ng-bind="variable|json"></pre> -->

                                                                      </td>
                                                                      <td>
                                                                      {{variable.variable_short_nm}}
                                                                      
                                                                      </td>
                                                                      <td>
                                                                      <a href="#" type="button"  data-toggle="tooltip" data-placement="bottom" title="{{variable.variable_desc}}">Details</a>
                                                                      
                                                                      </td>
                                                                      <td nowrap="nowrap">Behavioral Variables
                                                                      </td>
                                                                      <!-- <td>{{variable.source_table_nm}}</td> -->
                                                                      <!-- <td width="5%"><a href="#" class="btn btn-default" title="Edit Variable" ng-click="show_edit_variable($event,variable)"> <img src="images/icons/edit.gif" alt="Edit"></td> -->
                                                                      <td class="icon_align_center"><a href="#" class="icon_edit_color" title="Edit Variable" ng-click="show_edit_variable($event,variable)"><i class='fa fa-edit icon_anchor_width'></i></td>
                                                                  </tr>
                                                              </tbody>
                                                          </table>
                                                          <div ng-hide="variables.length>0">
                                                              <div class="alert alert-warning" style="margin-top:100px">
                                                                  There are no variables defined yet.
                                                                  You can add new variables to this ABT by clicking the button below.
                                                                  <br>

                                                                  <a href="/project/variables/{{current_abt.abt_sk}}" class="btn btn-default" ng-show="current_abt.abt_sk" > <img src="images/add.gif" alt="Add Variable"> Add variables to {{current_abt.abt_short_nm}}</a>
                                                              </div>
                                                          </div>
                                                          <div>
                                                              <div class="alert alert-info">
                                                                 <!--  <a href="#" class="btn btn-default" ng-show="current_abt.abt_sk" ng-click="show_build_abt($event)" > <img src="images/icons/add.gif" alt="Start Build ABT"> Build this ABT: {{current_abt.abt_short_nm}}</a> -->
                                                                  <button type="submit" class="btn btn-danger" ng-disabled="disable_delete">Delete Variables</button>
                                                                  <button type="button" class="btn btn-primary" ng-disabled="disable_target" ng-click="set_target_var()">Set Target</button>
                                                              </div>
                                                          </div>
                                                      </form>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <!-- cut here -->
                                  <!-- <div class="col-md-3">
                                      <div class="box-style">
                                          <accordion close-others="oneAtATime">
                                              <accordion-group is-open="this_status.open=true">
                                                  <accordion-heading>
                                                      <i class="ion-gear-b"></i> ABT Properties <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': this_status.open, 'glyphicon-chevron-right': !this_status.open}"></i>
                                                  </accordion-heading>
                                                  <table>
                                                      <tr>
                                                          <td>ABT Name : </td>
                                                          <td>{{current_abt.abt_short_nm}}</td>
                                                      </tr>
                                                      <tr>
                                                          <td>Description : </td>
                                                          <td>{{current_abt.abt_desc}}</td>
                                                      </tr>
                                                      <tr>
                                                          <td>ABT File Name : </td>
                                                          <td>{{current_abt.abt_table_nm}}</td>
                                                      </tr>
                                                      
                                                      <tr>
                                                          <td>Outcome Period : </td>
                                                          <td>{{current_abt.target_period_cnt}} {{current_abt.frequency_short_nm}}</td>
                                                      </tr>
                                                      <tr>
                                                          <td>Created : </td>
                                                          <td>{{current_abt.createdAt| date:'medium'}}</td>
                                                      </tr>
                                                      <tr>
                                                          <td>Last Modified : </td>
                                                          <td>{{current_abt.updatedAt| date:'medium'}}</td>
                                                      </tr>
                                                  </table> -->
                                                  <!-- <pre ng-bind="current_abt | json"></pre> -->
                                           <!--    </accordion-group>
                                              <accordion-group is-open="status.open">
                                                  <accordion-heading>
                                                      <i class='ion-stats-bars'></i> ABT Status <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                                  </accordion-heading>
                                                  ABT Status will appear here
                                              </accordion-group>
                                          </accordion>
                                      </div>
                                  </div> -->
                              </div>

                          </div><!-- /#abt-manage -->
                      </div>
                      <!-- /.tab-content -->

                      <!-- ABT Add Modal -->
                      <div class="modal fade" id="modal-abts-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <form role="form" name="myForm" ng-submit="save_abt()" novalidate>
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel" ng-hide="new_abt.abt_sk"><i class="fa fa-plus-circle"></i>&nbsp;Add a new ABT</h4>
                                          <h4 class="modal-title" id="myModalLabel" ng-show="new_abt.abt_sk"><i class="fa fa-edit"></i>&nbsp;Edit ABT</h4>
                                      </div>
                                      <div class="modal-body">
                                          <div class="form-group">
                                              <label for="abt_short_nm"> Display Name <span class="required">*</span></label>
                                              <input type="text" class="form-control" id="abt_short_nm" placeholder="A short name for the ABT." ng-model="new_abt.abt_short_nm" required>
                                          </div>
                                          <div class="form-group" ng-hide="new_abt.abt_sk">
                                              <label for="abt_table_nm"> Physical Name <span class="required">*</span></label>
                                              <input type="text" class="form-control" id="abt_table_nm" placeholder="Actual name of ABT." ng-model="new_abt.abt_table_nm" required>
                                              <span class="error" ng-show="already_exists">This Abt name already exists, Please use another name</span>
                                          </div>

                                          <div class="form-group">
                                              <label for="abt_desc">Description</label>
                                              <textarea name="" id="abt_desc" class="form-control" placeholder="Description of your ABT" ng-model="new_abt.abt_desc"></textarea>
                                          </div>

                                          <div class="for_edit" ng-hide="new_abt.abt_sk">
                                              <div class="form-group">
                                                  <label for="source_data_time_grain_sk">Data Aggregation <span class="required">*</span> <span class="loading_msg" ng-show="loading">Loading, please wait...</span></label>
                                                  <label ng-repeat="frequency in frequencies"> <input type="radio" name="source_data_time_grain_sk" ng-model="new_abt.source_data_time_grain_sk" value="{{frequency.frequency_sk}}" ng-click="set_frequency_label(frequency)" required ng-disabled="!frequency.enabled" > per {{frequency.frequency_short_nm}} &nbsp;&nbsp;</label>
                                              </div>

                                              <div class="form-group">
                                                  <label for="target_period_cnt"> Outcome Period </label>
                                                  <div class="input-group">
                                                      <input type="text" class="form-control small" id="target_period_cnt" placeholder="period" ng-model="new_abt.target_period_cnt" required step="1" min="1">
                                                      <span class="input-group-addon">{{frequency_label}}</span >
                                                  </div>
                                                  <span class="error" ng-show="myForm.$invalid-number">Outcome Period can be only in numbers!</span>
                                              </div>
                                          </div>

                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="myForm.$invalid || !new_abt.target_period_cnt">Save ABT</button>
                                          <button type="submit" class="btn btn-primary" disabled ng-show="form_submitting">Submitting...</button>
                                          <!-- <pre ng-bind="new_abt | json"></pre> -->
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                      <!-- End of ABT Add Modal -->

                      <!-- ABT Delete Modal -->
                      <div class="modal" id="modal-abt-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <form role="form">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash-o"></i>&nbsp;Warning: Permanently deleting ABT!!!</h4>
                                      </div>
                                      <div class="modal-body">
                                          <h4>About to delete the ABT:</h4>
                                          <p><strong>Name:{{del_abt.abt_short_nm}}</strong></p>
                                          <p>Physical Name:{{del_abt.abt_table_nm}}</p>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                          <button type="submit" class="btn btn-danger" ng-click="delete_abt($event)">Delete ABT</button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                      <!-- end of abt-delete-modal -->

                      <!-- Build ABT Modal -->
                      <div class="modal" id="modal-build-abt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                          <form role="form" name="build_abt_form">
                              <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                          <h4 class="modal-title" id="myModalLabel">Build ABT</h4>
                                      </div>
                                      <div class="modal-body">
                                          <!-- <div class="input-group">
                                            <span class="input-group-addon">Target Var</span>
                                            <select class="form-control" ng-model="target_var" ng-options="var as var.variable_column_nm for var in variables" required></select>
                                          </div>
                                          <br>   -->                 
                                          <p class="input-group span2">
                                                <span class="input-group-addon">Build date:</span>

                                            <input type="text" id="abt_build_date" class="form-control" datepicker-popup="dd MMMM yyyy" ng-model="build_date" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" close-text="Close" readonly="readonly"  ng-click="date_open($event)" required />
                                            <span class="input-group-btn">
                                              <button type="button" class="btn btn-default" ng-click="date_open($event)"><i class="glyphicon glyphicon-calendar" style="padding: 6px 8px;"></i></button>
                                            </span>
                                          </p>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                          <button type="submit" class="btn btn-primary" data-dismiss="modal">Build ABT</button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </div>
                      <!-- end of BuildABT modal -->

                      <!-- Subset Delete Modal -->
                      <div class="modal fade" id="modal-variables-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">Warning: Permanently deleting selected variables!!!</h4>
                            </div>
                            <div class="modal-body">
                                  <h4>Are you sure want to delete all selected variables:</h4>
                                  <!-- <p><strong>Name:{{filter_node_id}}</strong></p> -->
                            </div>
                            <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                      <button type="submit" class="btn btn-danger" ng-click="delete_variables($event)">Delete Filter Node</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end of modal-variables-delete -->

                      <!-- Variable Edit Modal -->
                      <div class="modal fade" id="modal-variable-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel"><i class="fa fa-edit"></i>&nbsp;Edit Variable</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                  <label for="variable_short_nm">Short Name <span class="required">*</span></label>
                                  <input type="text" class="form-control" id="variable_short_nm" placeholder="A short name for the variable." ng-model="edit_var.variable_short_nm" required>
                                </div>

                                <div class="form-group">
                                  <label for="variable_desc">Description <span class="required">*</span></label>
                                  <textarea name="" id="variable_desc" class="form-control" placeholder="Description of your variable" ng-model="edit_var.variable_desc" required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" ng-disabled="!edit_var.variable_short_nm || !edit_var.variable_desc" data-dismiss="modal">Update</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
              </div><!-- /.container -->
            </div><!-- /.inner -->
          </div><!-- /.outer -->
        </div>
        <!-- /Content -->

        <!-- Show hide buttons -->
        <div class="left_show_hide_button" id="left-navi-pan">
          <a data-placement="bottom" id="left-navi-go-btn"  data-original-title="Show / Hide Left" data-toggle="tooltip" class="btn btn-default btn-sm toggle-left" id="menu-toggle">
          <i class="fa fa-arrow-circle-left fa-2x" style="color:#00b4eb;"></i></a>
        </div>
        
        <div class="right_show_hide_button" id="right-navi-pan">
          <a data-placement="bottom" id="right-navi-go-btn" data-original-title="Show / Hide Right" data-toggle="tooltip" class="btn btn-default btn-sm toggle-right">
            <i class="fa fa-arrow-circle-left fa-2x" style="color:#00b4eb;"></i>
          </a> 
        </div>
        <!-- End of show hide buttons -->
      
        <!-- Right Sidebar -->
        <div id="right" class="right_menu_bg_color" style="background-color: #303030;">
          <div class="bg-dark dk" id="wrap">
            <div id="top">
              <nav class="navbar navbar-inverse navbar-static-top" style="background-color:#222222 !important;" >
              </nav>
            </div>  
          </div>
          <div>
            <div class="box-style">
              <accordion close-others="oneAtATime">
                <accordion-group is-open="this_status.open=true">
                    <accordion-heading>
                        <i class="ion-gear-b"></i> ABT Properties <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': this_status.open, 'glyphicon-chevron-right': !this_status.open}"></i>
                    </accordion-heading>
                    <table>
                        <tr>
                            <td>ABT Name : </td>
                            <td>{{current_abt.abt_short_nm}}</td>
                        </tr>
                        <tr>
                            <td>Description : </td>
                            <td>{{current_abt.abt_desc}}</td>
                        </tr>
                        <tr>
                            <td>ABT File Name : </td>
                            <td>{{current_abt.abt_table_nm}}</td>
                        </tr>
                        
                        <tr>
                            <td>Outcome Period : </td>
                            <td>{{current_abt.target_period_cnt}} {{current_abt.frequency_short_nm}}</td>
                        </tr>
                        <tr>
                            <td>Created : </td>
                            <td>{{current_abt.createdAt| date:'medium'}}</td>
                        </tr>
                        <tr>
                            <td>Last Modified : </td>
                            <td>{{current_abt.updatedAt| date:'medium'}}</td>
                        </tr>
                    </table>
                    <!-- <pre ng-bind="current_abt | json"></pre> -->
                </accordion-group>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        <i class='ion-stats-bars'></i> ABT Status <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    ABT Status will appear here
                </accordion-group>
              </accordion>
            </div>
          </div><!-- /.well well-small -->
        </div><!-- /#right -->
      </div><!-- /#wrap -->
    </div>
    <footer class="Footer bg-dark dker">
      <p>2015 &copy; Bizalyticks</p>
    </footer><!-- /#footer -->
  </body>
</html>