<!doctype html>
<html class="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="/favicon.ico"> -->
    <title>Bizalyticks Vector</title>

    <!--IE Compatibility modes-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Mobile first-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- STYLES -->
    <link rel="stylesheet" href="css/metisMenu.min.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">

    <!--SCRIPTS-->
    <script>
      var project_id=1;
      var level_sk=1;
      var sel_abt_id=0;
      var sel_abt={
        abt_sk: 0
      };
    </script>
    <script src="http://www.google.com/jsapi?ext.js"></script>
    <script src="js/jquery-2.0.2.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular_app.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/metisMenu.min.js"></script>
    <script src="js/screenfull.min.js"></script>
    <script src="js/core.js"></script>
    <script src="js/app.js"></script>
    <script src="js/behService.js"></script>
    <script src="js/rntService.js"></script>
    <script src="js/spmService.js"></script>
    <script src="js/derService.js"></script>
  </head>
  <body ng-app="vector"  class='wrapper ng-scope  pace-done sidebar-left-mini' >
    <div ng-controller="AbtCtrl">
      <div class="bg-dark dk" id="wrap">
        <!-- Header -->
        <div id="top">
          <!-- .navbar -->
          <nav class="navbar navbar-inverse navbar-static-top" style="background-color:#222222 !important;" >
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <header class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span> 
                  <span class="icon-bar"></span> 
                  <span class="icon-bar"></span> 
                  <span class="icon-bar"></span> 
                </button>
                <a href="index.html" class="navbar-brand">
                  <img src="images/logo.png" alt="Bizalyticks logo">
                </a>
                  <header class="head" style="float:left;">
                  <div class="main-bar">
                    
                    <h3><i class="fa fa-plus-circle "></i>&nbsp;Add Variables</h3>
                    
                  </div><!-- /.main-bar -->
                </header><!-- /.head --> 
              </header>
              
              <!-- Header top menu per page -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                  <!-- Project/index -->
                  
                  <!-- project/abt -->
                                    
                  <!-- project/variable -->
                  
                    <li  class="active"  ><a href="#"><i class='ion-plus-circled'></i><span>Add Variables</span></a></li>
                    <li><a href="#"><i class='ion-ios7-compose'></i><span>Edit Variables</span></a></li>
                    <li><a href="#"><i class='ion-close-circled'></i><span>Delete Variables</span></a></li>
                    <li><a href="index.html"  ng-click="save_vars(level)"><i class="glyphicon glyphicon-floppy-disk"></i><span>Save Variables</span></a></li>
                    <li><a href="index.html"><i class='ion-close-circled'></i><span> Go Back</span></a></li>
                                    
                  <!-- project/subsets -->
                  
                  <!-- models/index -->
                  
                  <!-- user/index -->
                  
                   <!-- client/manage_data_sources -->
                  
                   <!-- client/manage_data_tables  -->
                  
                  <!-- <li ng-show="current_page=='config_columns'"><a ng-click="hide_selected_columns()"><i class="fa fa-eye-slash"></i>&nbsp;<span>Hide selected</span></a></li> -->
                  <!-- <li ng-show="current_page=='config_columns'"><a ng-click="unhide_hidden_columns()" ng-show="current_table.hidden_columns.length>0"><i class="fa fa-eye"></i>&nbsp;<span>Unhide {{current_table.hidden_columns.length}} hidden columns</span></a></li>                    -->
                  <li>
                    <div class="topnav">
                      <div class="btn-group">
                        <a data-placement="bottom" data-original-title="Fullscreen" data-toggle="tooltip" class="btn btn-default btn-sm" id="toggleFullScreen">
                          <i class="glyphicon glyphicon-fullscreen" style="color:#00b4eb;"></i>
                        </a> 
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div><!-- /.container-fluid -->
          </nav><!-- /.navbar -->
        </div>
        <!-- /Header -->

        <!-- Left Sidebar -->
        <div id="left">
          <!-- Welcome box -->
          <div class="media user-media bg-dark dker">
            <div class="user-media-toggleHover">
              <span class="fa fa-user"></span> 
            </div>
            <div class="user-wrapper">
              <a class="user-link" href="">
                <img class="media-object img-thumbnail user-img" alt="User Picture" src="images/user.gif">
                <!-- <span class="label label-danger user-label">16</span>  -->
              </a> 
              <div class="media-body">
                <h5 class="media-heading">Welcome </h5>
                <ul class="list-unstyled user-info">
                  <li>Admin</li>
                  <li><a href="#" data-toggle="tooltip" data-original-title="Logout" data-placement="bottom" style="color:#00b4eb;text-decoretion:none;"><b>Logout</b></a></li>
                </ul>
              </div>
            </div>
          </div>

          <!-- #menu -->
          <ul id="menu" class="">
            <li class="nav-divider"></li>
            
              <li  ><a href="#"><i class="fa fa-dashboard"></i>&nbsp;&nbsp;<span class="link-title">Projects</a></span></li>
            
            
              
                <li  ><a href="#"><i class="fa fa-filter"></i>&nbsp;&nbsp;<span class="link-title">Subsets Criteria</span></a></li>
                <li  class="active"  ><a href="index.html"><i class="fa fa-table"></i>&nbsp;&nbsp;<span class="link-title">Analytical Base Tables</span></a></li>
                <li><a href="#" ng-click="goto_data_explore($event)"><i class="fa fa-bar-chart-o"></i>&nbsp;&nbsp;<span class="link-title">Data Exploration</span></a></li>
                <li  ><a href="#" ng-click="goto_model($event)">&nbsp;<i class="fa fa-bolt"></i>&nbsp;&nbsp;&nbsp;<span class="link-title">Models</span></a></li>
                <li><a href="#" ><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;<span class="link-title">Model Evaluation</span></a></li>
              
            
            <li class="nav-divider"></li>
            <li></li>
            
              <li><a href="#"><i class="fa fa-user"></i>&nbsp;&nbsp;<span class="link-title">Admin</a></span></li>
            
            <li class="nav-divider"></li>
          </ul>
          <!-- /#menu -->
        </div>
        <!-- /Left Sidebar -->

        <!-- Content -->
        <div id="content">
          <div class="outer">
            <div class="inner bg-light lter">
              <div class="container">
                  <div class="inner_container">
                      <div class="row sub-icons">
                          <div class="col-md-12">
                              <div style="float:left" class="btn-group menu-bar">
                                  <!-- Menus -->
                              </div>
                             <!--  <div class="col-md-1">
                                  <select class="form-control">
                                      <option>Menu</option>
                                  </select>
                              </div> -->
                             
                          </div>
                      </div><br>
                      <!-- <pre ng-bind="var_types | json"></pre> -->
                      <div class="tab-content" ng-cloak>
                          <div class="main_content fade in active move-up" id="abt-manage">
                              <div class="row">
                                  <div class="col-md-3" >
                                      <div class="box-style">
                                          <!-- <div class="abt_inner"> -->
                                              <h4><i class="fa fa-plus-circle"></i>&nbsp;Create variables</h4>
                                              <accordion>
                                                  <accordion-group is-open="var_type.open" ng-repeat="var_type in var_types">
                                                      <accordion-heading>
                                                          <a href="#" ng-click="select_var_type($event,var_type)">{{var_type.label}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': var_type.open, 'glyphicon-chevron-right': !var_type.open}"></i></a>
                                                      </accordion-heading>
                                                      <h5 ng-hide="var_type.label=='Arithmetic Derived Variables' || var_type.label=='Logical Derived Variables'">Select level ({{levels.length}} levels found)</h5>

                                                      <!-- Accordion Content Starts -->
                                                      <select class="form-control" ng-model="current_level_obj.current_level" ng-options="level as level.level_assoc_short_nm for level in levels"
                                                       ng-change="show_var_div(current_level_obj.current_level)" 
                                                       ng-hide="var_type.label=='Arithmetic Derived Variables' || var_type.label=='Logical Derived Variables'"
                                                      >

                                                      <option value="" ng-hide="">Select level</option>
                                                          
                                                      </select>

                                                      <div class="row" id="lvl{{level.level_assoc_sk}}" ng-repeat="level in levels" ng-class="level.class" ng-show="current_level_obj.current_level.level_assoc_sk==level.level_assoc_sk">
                                                          <div class="var_list" ng-hide="var_type.label=='Arithmetic Derived Variables' || var_type.label=='Logical Derived Variables'">

                                                              <h5>Data sources for {{level.level_assoc_short_nm}}</h5>
                                                              <select class="form-control" ng-model="current_data_source" size="3">
                                                                  <option value="{{data_source.id}}"
                                                                          ng-repeat="data_source in level.data_sources"
                                                                          ng-click="show_var_attributes(data_source,level,var_type.code)"
                                                                          >
                                                                      {{data_source.source_table_short_nm}}
                                                                  </option>
                                                              </select>

                                                          </div>

                                                          <div class="var_list" ng-show="var_type.label=='Arithmetic Derived Variables' || var_type.label=='Logical Derived Variables'">
                                                              <button class="btn btn-primary" ng-click="show_der_var_attributes(level, var_type.label,var_type.code)">Add Variable</button>
                                                          </div>
                                                          
                                                      </div>
                                                      <!-- Accordion Content Ends -->
                                                  </accordion-group>
                                              </accordion>
                                              <!-- <table class="table" id="var_table">

                                                  <tbody>
                                                      <tr ng-repeat="var_type in var_types">
                                                          <td ng-class="var_type.class"><a href="#" ng-click="select_var_type($event,var_type)">{{var_type.label}}</a></td>
                                                      </tr>

                                                  </tbody>
                                              </table> -->
                                          <!-- </div> -->
                                          <!-- .abt_inner -->
                                      </div>
                                  </div>


                                  <div class="col-md-9">
                                      <div class="box-style">
                                          <div class="box">
                                              <header>
                                                  <h5>New variables created</h5>
                                                  <div class="toolbar">
                                                      <!-- <div class="btn-group">
                                                          <a href="#" class="btn btn-default orange_btn_color_shade"><i class='ion-plus-circled'></i> <span>Add Variables</span></a>
                                                          <a href="#" class="btn btn-default orange_btn_color_shade"><i class='ion-ios7-compose'></i> <span>Edit Variables</span></a>
                                                          <a href="#" class="btn btn-default orange_btn_color_shade"><i class='ion-close-circled'></i> <span>Delete Variables</span></a>
                                                          <a href="#" class="btn btn-default orange_btn_color_shade"  ng-click="save_vars(level)"><span class="glyphicon glyphicon-floppy-disk"></span> <span>Save Variables</span></a> 
                                                          <a href="/project/abt/4?abt_id=28" class="btn btn-default orange_btn_color_shade"><i class='ion-close-circled'></i><span> Go Back</span></a>
                                                      </div> -->
                                                      <input type="text"  class="form-control" style="margin-top:2px;" ng-model="var_filter" placeholder="Filter variables">
                                                  </div>
                                              </header>
                                          
                                          <ul style="margin: 10px;" class="nav nav-tabs var-tabs" id='var_tabs'>
                                              <li ng-class="level.class" ng-repeat="level in levels">
                                                  <a href="#home{{level.level_assoc_sk}}" data-toggle="tab"> {{level.level_assoc_short_nm}}</a>
                                              </li>
                                          </ul>
                                          <div class="tab-content">
                                              <div class="row tab-pane" id="home{{level.level_assoc_sk}}" ng-repeat="level in levels" ng-class="level.class">
                                                  <div class="col-md-12">
                                                      <!-- <div class="vars_beh" ng-show="current_var_type.code=='BEH'"> -->
                                                      <div class="vars_beh">
                                                          <div class="var_list table-responsive">
                                                              <!-- <table class="table table-striped var-table"> -->
                                                              <table class="table table-bordered sortableTable table-hover responsive-table">
                                                                  <thead>
                                                                      <tr>
                                                                          <td colspan="10">Behavioral Variables Created: {{level.variables[1].length || 0}}</td>                                                    </tr>
                                                                      <tr>
                                                                          <th>#</th>
                                                                          <th nowrap="nowrap">Physical Name</th>
                                                                          <th>Display Name</th>
                                                                          <!-- <th>Description</th> -->
                                                                          <th>Measures</th>
                                                                          <th nowrap="nowrap">Time Period</th>
                                                                          <th>Edit</th>
                                                                          <th>Delete</th>
                                                                      </tr>
                                                                  </thead>
                                                                  <tbody>
                                                                      <tr ng-repeat="variable in level.variables[1] | filter:var_filter">
                                                                          <td><input type="checkbox" ng-model="variable.selected"></td>
                                                                          <td> {{variable.physical_name}}</td>
                                                                          <td> 
                                                                          {{variable.display_name}}
                                                                          <!-- <a href="#" type="button"  data-toggle="tooltip" data-placement="bottom" title="{{variable.display_name}}">Show</a> -->
                                                                          </td>
                                                                          <!-- <td> {{variable.description}}</td> -->
                                                                          <td nowrap="nowrap"> {{variable.measures}} </td>
                                                                          <td nowrap="nowrap"> {{variable.time_period}} </td>
                                                                          <td><a href="#" ng-click="show_edit_variable($event,variable)" title="Edit this var"><img src="images/edit.gif" alt="Edit"></a></td>
                                                                          <td><a href="#" ng-click="delete_var_confirm($event,level,variable)" title="Delete this var"><img src="images/delete.gif" alt="Delete"></a></td>
                                                                      </tr>
                                                                      <!-- <tr>
                                                                          <th nowrap="nowrap" colspan="10">
                                                                              <a href="#" ng-click="delete_selected(level)" class="btn btn-warning btn-xs"
                                                                              ng-show="level.variables[var_types[0].variable_type_sk].length>0" 
                                                                              >Delete selected</a>
                                                                              <span ng-show="level.variables[current_var_type.variable_type_sk].length>1" > <a href="#" ng-click="delete_var_all($event, level);"  class="btn btn-danger btn-xs">Delete All</a></span>
                                                                          </th>
                                                                      </tr> -->
                                                                  </tbody>
                                                              </table>
                                                              
                                                          </div><br>
                                                          <!-- <button class="btn btn-primary pull-right" ng-click="save_vars(level)" ng-show="level.variables.length">Save Variables</button> -->
                                                      </div> <!-- end of var_beh-->

                                                      <!-- <div class="vars_rnt" ng-show="current_var_type.code=='RNT' || current_var_type.code=='SPM'"> -->
                                                      <div class="vars_rnt">
                                                          <div class="var_list table-responsive">
                                                              <!-- <table class="table table-striped var-table"> -->
                                                              <table class="table table-bordered sortableTable table-hover responsive-table">
                                                                  <thead>
                                                                      <tr>
                                                                          <td colspan="10">Time Based Variables Created: {{level.variables[2].length || 0}}</td>
                                                                      </tr>
                                                                      <tr>
                                                                          <th>#</th>

                                                                          <th nowrap="nowrap">Physical Name</th>
                                                                          <th>Display Name</th>
                                                                          <!-- <th>Description</th> -->
                                                                          <th nowrap="nowrap">Order by date</th>
                                                                          <th>Time Period</th>
                                                                          <th>Edit</th>
                                                                          <th>Delete <span ng-show="level.variables[2].length>1" ></span> </th>
                                                                      </tr>
                                                                  </thead>
                                                                  <tbody>
                                                                      <tr ng-repeat="variable in level.variables[2] | filter:var_filter">
                                                                          <td><input type="checkbox" ng-model="variable.selected"></td>
                                                                          <td> {{variable.physical_name}}</td>
                                                                          <td> 
                                                                              {{variable.display_name}}
                                                                              <!-- <a href="#" type="button"  data-toggle="tooltip" data-placement="bottom" title="{{variable.display_name}}">Show</a> -->
                                                                          </td>
                                                                          <!-- <td> {{variable.description}}</td> -->
                                                                          <td> {{variable.order_by_date}} </td>
                                                                          <td nowrap="nowrap"> {{variable.time_period}} </td>
                                                                          <td><a href="#" ng-click="show_edit_variable($event,variable)" title="Edit this var"><img src="images/edit.gif" alt="Edit"></a></td>
                                                                          <td><a href="#" ng-click="delete_var_confirm($event,level,variable)" title="Delete this var"><img src="images/delete.gif" alt="Delete"></a></td>
                                                                      </tr>
                                                                      <!-- <tr>
                                                                          <th nowrap="nowrap" colspan="10">
                                                                              <a href="#" ng-click="delete_selected(level)" class="btn btn-warning btn-xs"
                                                                              ng-show="level.variables[current_var_type.variable_type_sk].length>0" 
                                                                              >Delete selected</a>
                                                                              <span ng-show="level.variables[current_var_type.variable_type_sk].length>1" > <a href="#" ng-click="delete_var_all($event, level);"  class="btn btn-danger btn-xs">Delete All</a></span>
                                                                          </th>
                                                                      </tr> -->
                                                                  </tbody>
                                                              </table>
                                                          </div>
                                                          
                                                      </div> <!-- end of var_rnt-->

                                                      <div class="vars_spm">
                                                          <div class="var_list table-responsive">
                                                              <!-- <pre ng-bind="current_var_type | json"></pre> -->
                                                              <!-- <pre ng-bind="level.variables | json"></pre> -->
                                                              <!-- <table class="table table-striped var-table"> -->
                                                              <table class="table table-bordered sortableTable table-hover responsive-table">
                                                                  <thead>
                                                                      <tr>
                                                                          <td colspan="10">Supplementary Variables Created: {{level.variables[3].length || 0}} </td>
                                                                      </tr>
                                                                      <tr>
                                                                          <th>#</th>

                                                                          <th nowrap="nowrap">Physical Name</th>
                                                                          <th>Display Name</th>
                                                                          <!-- <th>Description</th> -->
                                                                          <th nowrap="nowrap">Order by date</th>
                                                                          <th>Time Period</th>
                                                                          <th>Edit</th>
                                                                          <th>Delete <span ng-show="level.variables[3].length>1" ></span> </th>
                                                                      </tr>
                                                                  </thead>
                                                                  <tbody>
                                                                      <tr ng-repeat="variable in level.variables[3] | filter:var_filter">
                                                                          <td><input type="checkbox" ng-model="variable.selected"></td>
                                                                          <td> {{variable.physical_name}}</td>
                                                                          <td> 
                                                                              {{variable.display_name}}
                                                                              <!-- <a href="#" type="button"  data-toggle="tooltip" data-placement="bottom" title="{{variable.display_name}}">Show</a> -->
                                                                          </td>
                                                                          <!-- <td> {{variable.description}}</td> -->
                                                                          <td> {{variable.order_by_date}} </td>
                                                                          <td nowrap="nowrap"> {{variable.time_period}} </td>
                                                                          <td><a href="#" ng-click="show_edit_variable($event,variable)" title="Edit this var"><img src="images/edit.gif" alt="Edit"></a></td>
                                                                          <td><a href="#" ng-click="delete_var_confirm($event,level,variable)" title="Delete this var"><img src="images/delete.gif" alt="Delete"></a></td>
                                                                      </tr>
                                                                      <!-- <tr>
                                                                          <th nowrap="nowrap" colspan="10">
                                                                              <a href="#" ng-click="delete_selected(level)" class="btn btn-warning btn-xs"
                                                                              ng-show="level.variables[current_var_type.variable_type_sk].length>0" 
                                                                              >Delete selected</a>
                                                                              <span ng-show="level.variables[current_var_type.variable_type_sk].length>1" > <a href="#" ng-click="delete_var_all($event, level);"  class="btn btn-danger btn-xs">Delete All</a></span>
                                                                          </th>
                                                                      </tr> -->
                                                                  </tbody>
                                                              </table>
                                                          </div>
                                                          
                                                      </div> <!-- end of var_spm-->

                                                      <div class="vars_arith">
                                                          <div class="var_list table-responsive">
                                                              <!-- <pre ng-bind="current_var_type | json"></pre> -->
                                                              <!-- <pre ng-bind="level.variables | json"></pre> -->
                                                              <!-- <table class="table table-striped var-table"> -->
                                                              <table class="table table-bordered sortableTable table-hover responsive-table">
                                                                  <thead>
                                                                      <tr>
                                                                          <td colspan="10">Arithmetic Vars Created: {{level.variables[4].length || 0}} </td>
                                                                      </tr>
                                                                      <tr>
                                                                          <th>#</th>

                                                                          <th nowrap="nowrap">Physical Name</th>
                                                                          <th>Display Name</th>
                                                                          <th>Expression</th>
                                                                          
                                                                          <th>Edit</th>
                                                                          <th>Delete <span ng-show="level.variables[3].length>1" ></span> </th>
                                                                      </tr>
                                                                  </thead>
                                                                  <tbody>
                                                                      <tr ng-repeat="variable in level.variables[4] | filter:var_filter">
                                                                          <td><input type="checkbox" ng-model="variable.selected"></td>
                                                                          <td> {{variable.physical_name}}</td>
                                                                          <td> 
                                                                              {{variable.display_name}}
                                                                          </td>
                                                                          <td> {{variable.expression}}</td>
                                                                          
                                                                          <td><a href="#" ng-click="show_edit_variable($event,variable)" title="Edit this var"><img src="images/edit.gif" alt="Edit"></a></td>
                                                                          <td><a href="#" ng-click="delete_var_confirm($event,level,variable)" title="Delete this var"><img src="images/delete.gif" alt="Delete"></a></td>
                                                                      </tr>
                                                                      <!-- <tr>
                                                                          <th nowrap="nowrap" colspan="10">
                                                                              <a href="#" ng-click="delete_selected(level)" class="btn btn-warning btn-xs"
                                                                              ng-show="level.variables[current_var_type.variable_type_sk].length>0" 
                                                                              >Delete selected</a>
                                                                              <span ng-show="level.variables[current_var_type.variable_type_sk].length>1" > <a href="#" ng-click="delete_var_all($event, level);"  class="btn btn-danger btn-xs">Delete All</a></span>
                                                                          </th>
                                                                      </tr> -->
                                                                  </tbody>
                                                              </table>
                                                          </div>
                                                          
                                                      </div> <!-- end of var_arith-->

                                                      <div class="vars_logical">
                                                          <div class="var_list table-responsive">
                                                              <!-- <table class="tabe table-striped var-table"> -->
                                                              <table class="table table-bordered sortableTable table-hover responsive-table">
                                                                  <thead>
                                                                      <tr>
                                                                          <td colspan="10">Logical Vars Created: {{level.variables[5].length || 0}} </td>
                                                                      </tr>
                                                                      <tr>
                                                                          <th>#</th>

                                                                          <th nowrap="nowrap">Physical Name</th>
                                                                          <th>Display Name</th>
                                                                          <th>Expression</th>
                                                                          
                                                                          <th>Edit</th>
                                                                          <th>Delete <span ng-show="level.variables[5].length>1" ></span> </th>
                                                                      </tr>
                                                                  </thead>
                                                                  <tbody>
                                                                      <tr ng-repeat="variable in level.variables[5] | filter:var_filter">
                                                                          <td><input type="checkbox" ng-model="variable.selected"></td>
                                                                          <td> {{variable.physical_name}}</td>
                                                                          <td> 
                                                                              {{variable.display_name}}
                                                                              
                                                                          </td>
                                                                          <td> {{variable.expression}}</td>
                                                                          
                                                                          <td><a href="#" ng-click="show_edit_variable($event,variable)" title="Edit this var"><img src="images/edit.gif" alt="Edit"></a></td>
                                                                          <td><a href="#" ng-click="delete_var_confirm($event,level,variable)" title="Delete this var"><img src="images/delete.gif" alt="Delete"></a></td>
                                                                      </tr>
                                                                  </tbody>
                                                              </table>
                                                          </div>
                                                          
                                                      </div> <!-- end of var_logical-->                                            
                                                      <a href="#" ng-click="delete_var_all($event, level);"  class="btn btn-danger">Delete All</a>
                                                      <a href="index.html" class="btn btn-primary pull-right">Save Variables</a>
                                                  </div>
                                              </div>
                                          </div><!-- tab content -->
                                          </div>
                                      </div>      
                                  </div>

                                  <!-- <div class="col-md-3">
                                      <div class="box-style">
                                        <accordion close-others="oneAtATime">
                                          <accordion-group is-open="true">
                                              <accordion-heading>
                                                  <i class="ion-gear-b"></i> Variables Properties <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': this_status.open, 'glyphicon-chevron-right': !this_status.open}"></i>
                                              </accordion-heading>
                                              Var Properties will appear here
                                          </accordion-group>
                                          <accordion-group is-open="status.open">
                                              <accordion-heading>
                                                  <i class='ion-stats-bars'></i> Variable Status <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                                              </accordion-heading>
                                              Var Status will appear here
                                          </accordion-group>

                                        </accordion>
                                      </div>
                                  </div> -->

                              </div>

                          </div><!-- /#abt-manage -->
                      </div>
                      <!-- /.tab-content -->
                  </div>
                  <!-- ABT Add Modal -->
                  <div class="modal fade" id="modal-abts-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <form role="form" ng-submit="save_abt()">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel">Add a new ABT</h4>
                                  </div>
                                  <div class="modal-body">
                                      <div class="form-group">
                                          <label for="abt_short_nm"> Display Name <span class="required">*</span></label>
                                          <input type="text" class="form-control" id="abt_short_nm" placeholder="A short name for the ABT." ng-model="new_abt.abt_short_nm">
                                      </div>
                                      <div class="form-group">
                                          <label for="abt_table_nm"> Physical Name <span class="required">*</span></label>
                                          <input type="text" class="form-control" id="abt_table_nm" placeholder="Actual name of ABT." ng-model="new_abt.abt_table_nm">
                                      </div>

                                      <div class="form-group">
                                          <label for="abt_desc">Description</label>
                                          <textarea name="" id="abt_desc" class="form-control" placeholder="Description of your ABT" ng-model="new_abt.abt_desc"></textarea>
                                      </div>

                                      <div class="form-group">
                                          <label for="source_data_time_grain_sk">Data Aggregation <span class="required">*</span> <span class="loading_msg" ng-show="loading">Loading, please wait...</span></label>
                                          <label ng-repeat="frequency in frequencies"> <input type="radio" name="source_data_time_grain_sk" ng-model="new_abt.source_data_time_grain_sk" value="{{frequency.id}}" ng-click="set_frequency_label(frequency)" ng-disabled="!frequency.enabled" > per {{frequency.time_frequency_short_nm}} &nbsp;&nbsp;</label>
                                      </div>

                                      <div class="form-group">
                                          <label for="target_period_cnt"> Outcome Period </label>
                                          <div class="input-group">
                                              <input type="text" class="form-control small" id="target_period_cnt" placeholder="period" ng-model="new_abt.target_period_cnt">
                                              <span class="input-group-addon">{{frequency_label}}</span >
                                          </div>
                                      </div>

                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-primary">Save ABT</button>
                                      <!-- <pre ng-bind="new_abt | json"></pre> -->
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <!-- End of ABT Add Modal -->

                  <!-- Variable Delete Modal -->
                  <div class="modal" id="modal-var-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <form role="form">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel">Warning: Permanently deleting variable!!!</h4>
                                  </div>
                                  <div class="modal-body">
                                      <p><strong>{{del_var.display_name}}</strong></p>
                                      <p>Physical Name:{{del_var.physical_name}}</p>
                                      <p>Description:{{del_var.description}}</p>
                                      <!--                            <p>Measures:{{del_var.measures}}</p>-->
                                      <p>Time Period:{{del_var.time_period}}</p>
                                      <!--                            <p>Aggregation:{{del_var.aggregation}}</p>-->
                                      <!-- <p>Definition:{{del_var.variable_definition}}</p> -->
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                      <button type="submit" class="btn btn-danger" ng-click="delete_var($event)">Delete Variable</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <!-- end of var-delete-modal -->

                  <!-- modal-var-attributes Modal -->
                  <div class="modal fade" id="modal-var-attributes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <form role="form">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel"> Level: {{current_level_obj.current_level.level_assoc_short_nm}} / {{current_data_source.source_table_short_nm}}</h4>
                                  </div>
                                  <div class="modal-body">
                                      <div class="row" id="lvl_modal_{{level.level_assoc_sk}}" ng-repeat="level in levels" ng-class="level.class" ng-show="current_level_obj.current_level.level_assoc_sk==level.level_assoc_sk">
                                          
                                          
                                          <div class="var_list1">
                                              <div ng-show="current_var_type.code==='RNT' || current_var_type.code==='SPM'">
                                                  <div ng-hide="current_var_type.code==='SPM'">
                                                      <h5>Date</h5>
                                                      <select size="5">
                                                          <option value="{{c_date.id}}"
                                                                  ng-repeat="c_date in level.current_dates"
                                                                  ng-click="set_current_date(c_date,level)"
                                                                  >
                                                              {{c_date.source_column_short_nm}}
                                                          </option>
                                                      </select>
                                                  </div>
                                                  <h5>Select Variable Attributes</h5>
                                                  <div class="tree model_tree">
                                                      <ul>
                                                          <li>
                                                              <label class="var_heading">
                                                                  <a href="#" ng-click="toggle_tree_node($event,level,'display_columns_toggle')" title="Click here">
                                                                  <i class='ion-plus-circled' ng-hide="level.display_columns_toggle"></i> 
                                                                  <i class='ion-minus-circled' ng-show="level.display_columns_toggle"></i>  
                                                                  Display Columns
                                                                  </a>

                                                                  
                                                              </label>
                                                              <ul>
                                                                  <li ng-repeat="node in level.display_columns" ng-show="level.display_columns_toggle">
                                                                      <label>
                                                                          <input type="checkbox" ng-model="node.selected">
                                                                          {{node.source_column_short_nm}}
                                                                      </label>

                                                                  </li>
                                                              </ul>
                                                          </li>
                                                      </ul>
                                                      <ul ng-hide="current_var_type.code==='SPM'">
                                                          <li>
                                                              <label class="var_heading">
                                                                  <a href="#" ng-click="toggle_tree_node($event,level,'sel_criteria_toggle')" title="Click here">
                                                                  <i class='ion-plus-circled' ng-hide="level.sel_criteria_toggle"></i> 
                                                                  <i class='ion-minus-circled' ng-show="level.sel_criteria_toggle"></i>  
                                                                  Selection Criteria
                                                                  </a>
                                                                  
                                                              </label>
                                                              <ul>
                                                                  <li ng-repeat="node in level.sel_criteria" ng-show="level.sel_criteria_toggle">
                                                                      <label>
                                                                          <strong>
                                                                          {{node.source_column_short_nm}}
                                                                          </strong>
                                                                      </label>
                                                                      <ul>
                                                                          <li ng-repeat="attr in node.attributes">
                                                                              <label>
                                                                                  <input type="checkbox" ng-model="attr.selected">
                                                                                  {{attr.attribute_value_short_nm}}
                                                                              </label>

                                                                          </li>
                                                                      </ul>

                                                                  </li>
                                                              </ul>
                                                          </li>
                                                      </ul>
                                                      <ul>
                                                          <li>
                                                              <label class="var_heading">
                                                                  <a href="#" ng-click="toggle_tree_node($event,level,'time_period_list_toggle')" title="Click here">
                                                                  <i class='ion-plus-circled' ng-hide="level.time_period_list_toggle"></i> 
                                                                  <i class='ion-minus-circled' ng-show="level.time_period_list_toggle"></i>  
                                                                  Time period
                                                                  </a>
                                                              </label>
                                                              <ul>
                                                                  <li ng-repeat="node in level.time_period_list" ng-show="level.time_period_list_toggle">
                                                                      <label>
                                                                          <input type="checkbox" ng-model="node.selected">
                                                                          {{node.time_period_short_nm}}
                                                                      </label>

                                                                  </li>
                                                              </ul>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>

                                              <div ng-show="current_var_type.code==='BEH'">

                                                  <h5>Select Variable Attributes</h5>
                                                  <div class="tree model_tree">
                                                      <ul>
                                                          <li>

                                                              <label class="var_heading">
                                                                  <a href="#" ng-click="toggle_tree_node($event,level,'var_attributes_toggle')" title="Click here">
                                                                  <i class='ion-plus-circled' ng-hide="level.var_attributes_toggle"></i> <i class='ion-minus-circled' ng-show="level.var_attributes_toggle"></i>  Measures
                                                                  </a>
                                                              </label>
                                                              <ul>
                                                                  <li ng-repeat="node in level.var_attributes" ng-show="level.var_attributes_toggle">
                                                                      <label class="chk_leaf">
                                                                          <input type="checkbox" ng-model="node.selected">
                                                                          {{node.source_column_short_nm}}
                                                                      </label>

                                                                  </li>
                                                              </ul>
                                                          </li>
                                                      </ul>
                                                      <ul>
                                                          <li>
                                                              <label class="var_heading ">
                                                                  <a href="#" ng-click="toggle_tree_node($event,level,'sel_criteria_toggle')" title="Click here">
                                                                  <i class='ion-plus-circled' ng-hide="level.sel_criteria_toggle"></i> 
                                                                  <i class='ion-minus-circled' ng-show="level.sel_criteria_toggle"></i>  
                                                                  Selection Criteria
                                                                  </a>

                                                                  
                                                              </label>
                                                              <ul>
                                                                  <li ng-repeat="node in level.sel_criteria" ng-show="level.sel_criteria_toggle">
                                                                      <i class='ion-plus-circled' ng-hide="node.show_all" ng-click="toggle_node_options($event,node)"></i> 
                                                                      <i class='ion-minus-circled' ng-show="node.show_all" ng-click="toggle_node_options($event,node)"></i>  
                                                                      <label>
                                                                          <input type="checkbox" ng-model="node.selected" ng-click="check_all_selection_area(node)">
                                                                          {{node.source_column_short_nm}}
                                                                      </label>
                                                                      <ul ng-show="node.show_all">
                                                                          <!-- <pre ng-bind="node.attributes | json"></pre> -->
                                                                          <li ng-repeat="attr in node.attributes"  class="chk_leaf chk-leaf-child">
                                                                              <label>
                                                                                  <input type="checkbox" ng-checked="node.selected" ng-model="attr.selected">
                                                                                  {{attr.attribute_value_short_nm}}
                                                                              </label>

                                                                          </li>
                                                                      </ul>

                                                                  </li>
                                                              </ul>
                                                          </li>
                                                      </ul>
                                                      <ul>
                                                          <li>
                                                              <label class="var_heading">
                                                                  <a href="#" ng-click="toggle_tree_node($event,level,'agg_list_toggle')" title="Click here">
                                                                  <i class='ion-plus-circled' ng-hide="level.agg_list_toggle"></i> 
                                                                  <i class='ion-minus-circled' ng-show="level.agg_list_toggle"></i>  
                                                                  Aggregation
                                                                  </a>

                                                                  
                                                              </label>

                                                              <ul>
                                                                  <li ng-repeat="node in level.agg_list" ng-show="level.agg_list_toggle">
                                                                      <label  class="chk_leaf">
                                                                          <input type="checkbox" ng-model="node.selected" ng-disabled="node.aggregation_type_short_nm == 'Average by time' || node.aggregation_type_short_nm == 'Average by record'">
                                                                          {{node.aggregation_type_short_nm}}
                                                                      </label>

                                                                  </li>
                                                              </ul>
                                                          </li>
                                                      </ul>
                                                      <ul>
                                                          <li>
                                                              <label class="var_heading">
                                                                  <a href="#" ng-click="toggle_tree_node($event,level,'time_period_list_toggle')" title="Click here">
                                                                  <i class='ion-plus-circled' ng-hide="level.time_period_list_toggle"></i> 
                                                                  <i class='ion-minus-circled' ng-show="level.time_period_list_toggle"></i>  
                                                                  Time period
                                                                  </a>

                                                                  
                                                              </label>
                                                              <ul>
                                                                  <li ng-repeat="node in level.time_period_list" ng-show="level.time_period_list_toggle">
                                                                      <label class="chk_leaf">
                                                                          <input type="checkbox" ng-model="node.selected">
                                                                          {{node.time_period_short_nm}}
                                                                      </label>

                                                                  </li>
                                                              </ul>
                                                          </li>
                                                      </ul>
                                                  </div>
                                              </div>

                                          </div>
                                          
                                      </div>                        
                                  </div>
                                  <div class="modal-footer">                        
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                       <button class="btn btn-primary" data-dismiss="modal"> Create</button>

                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <!-- end of modal-var-attributes modal -->

                  <!-- Arithmetic Variable Modal modal-var-arith -->
                  <div class="modal var-modal" id="modal-var-arith" tabindex="-1" role="dialog"  aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title" id="myModalLabel">Arithmetic Variables</h4>
                              </div>
                              <div class="modal-body" >
                                  <!-- <pre ng-bind="arith_var | json"></pre> -->
                                 <div class="row">
                                     <div class="col-sm-2" style="white-space:nowrap;">Display Name</div>
                                     <div class="col-sm-4"><input type="text" class="form-control" ng-model="arith_var.display_name"></div>
                                     <div class="col-sm-2" style="white-space:nowrap;">Physical Name</div>
                                     <div class="col-sm-4"><input type="text" class="form-control" ng-model="arith_var.physical_name"></div>
                                     
                                 </div>
                                 <div class="row">
                                     <div class="col-sm-2">Description</div>
                                     <div class="col-sm-10"><input type="text" class="form-control" ng-model="arith_var.description"></div>
                                 </div>
                                 <div class="row">
                                     <div class="col-sm-12">Expression <span class="pull-right"><a href="#" class="btn btn-danger" ng-click="clear_arith_var_expn()" ng-disabled="!arith_var.expression">Clear</a></span></div>
                                     <div class="col-sm-12"><textarea rows="3" class="form-control" ng-model="arith_var.expression" readonly="readonly" ng-change="validate_arith_var()"></textarea></div>
                                 </div>
                                 <p style="color:red">{{arith_var_validation.error_msg}}</p>
                                 <div class="row">
                                     <div class="col-sm-7">
                                      
                                      <h4>Numerical Vars</h4>
                                      <!-- <pre ng-bind="numerical_vars | json"></pre> -->
                                      
                                      <select ng-options="numerical_var as numerical_var.variable_short_nm for numerical_var in numerical_vars" ng-model="arith_var.curr_numerical_var" ng-click="add_var_to_expn()" class="col-sm-12" size="15"></select>
                                     </div>
                                     <div class="col-sm-5 operators">
                                      
                                      <h4>Operators</h4>
                                      
                                          <div class="row">
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('7','number')">7</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('8','number')">8</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('9','number')">9</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('+','operator')">+</button></div>
                                          </div>
                                          <div class="row">
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('4','number')">4</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('5','number')">5</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('6','number')">6</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('-','operator')">-</button></div>
                                          </div>
                                          <div class="row">
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('1','number')">1</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('2','number')">2</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('3','number')">3</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('*','operator')">*</button></div>
                                          </div>
                                          <div class="row">
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('0','number')">0</button></div>
                                              <div class="col-sm-6"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('log(','function')">log</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('/','operator')">/</button></div>
                                          </div>
                                          <div class="row">
                                              <div class="col-sm-9"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('NULLIF(','function')">NULL IF ZERO</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('(','bracket')">(</button></div>
                                          </div>
                                          <div class="row">
                                              <div class="col-sm-9"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn('ZEROIFNULL(','function')">ZERO IF NULL</button></div>
                                              <div class="col-sm-3"><button class="form-control btn btn-primary" ng-click="add_operator_to_expn(')','bracket')">)</button></div>
                                          </div>
                                     </div>
                                 </div>
                              </div>

                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                  <button type="submit" class="btn btn-danger" data-dismiss="modal" ng-disabled='!arith_var.display_name || !arith_var.physical_name || arith_var_validation.bracket_open > 0 || !arith_var.expression'>Create Variable</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end of  modal-var-arith -->

                  <!-- Logical Variable Modal modal-var-arith -->
                  <div class="modal var-modal" id="modal-var-logical" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <form role="form">
                          <div class="modal-dialog modal-lg">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel">Logical Variables</h4>
                                  </div>
                                  <div class="modal-body">
                                     <div class="row">
                                         <div class="col-sm-2" style="white-space:nowrap;">Display Name</div>
                                         <div class="col-sm-4"><input type="text" class="form-control" ng-model="logical_var.display_name"></div>
                                         <div class="col-sm-2" style="white-space:nowrap;">Physical Name</div>
                                         <div class="col-sm-4"><input type="text" class="form-control" ng-model="logical_var.physical_name"></div>
                                         
                                     </div>
                                     <div class="row">
                                         <div class="col-sm-2">Data Type</div>
                                         <div class="col-sm-10">
                                          <label><input type="radio" name="data_type" value="NUMERIC"  ng-model="logical_var.data_type"> Numeric</label> &nbsp;&nbsp;
                                          <label><input type="radio" name="data_type" value="CHARACTER" ng-model="logical_var.data_type"> Character</label> &nbsp;&nbsp;
                                          <label><input type="radio" name="data_type" value="DATE" ng-model="logical_var.data_type"> Date</label>&nbsp;&nbsp;
                                          <label><input type="radio" name="data_type" value="DATETIME" ng-model="logical_var.data_type"> Datetime</label>
                                      </div>
                                     </div>
                                     <div class="row">
                                         <div class="col-sm-12">Expression &nbsp; &nbsp;</div>
                                         <div class="col-sm-12">
                                             <!-- tree will come here. -->

                                             <div id="chart_div"></div>

                                             
                                         </div>
                                     </div>

                                     <div class="row">
                                          <!-- <pre ng-bind="logical_var | json"></pre> -->
                                     </div>
                                  </div>

                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                      <button type="submit" class="btn btn-danger" ng-disabled="!logical_var.display_name || !logical_var.physical_name" data-dismiss="modal">Create Variable</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <!-- end of  modal-var-logical -->

                  <!-- Logical Variable Modal Attributes modal-var-logical-attr -->
                  <div class="modal var-modal" id="modal-var-logical-attr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <form role="form">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel">Logical Variables Attr</h4>
                                  </div>
                                  <div class="modal-body">
                                      <!-- <div class="row">
                                         <div class="col-sm-4" style="white-space:nowrap;">Node Display Name</div>
                                         <div class="col-sm-8"><input type="text" class="form-control" ng-model="logical_var_node.condition_name"></div>
                                      </div> -->

                                      <table class="table table-striped table-bordered">
                                          <tr>
                                             <th>Variable</th>
                                             <th>Operator</th>
                                             <th>Value</th>
                                          </tr>
                                          <tr ng-repeat="condition in logical_var_node.conditions">
                                              
                                              <td><select ng-model="condition.variable" ng-options="variable as variable.variable_short_nm for variable in condition.variable_list"  class="form-control"></select></td>

                                              <td><select ng-model="condition.operator" ng-options="operator as operator.label for operator in condition.operator_list" class="form-control"></select></td>
                                              
                                              <td><input type="text" ng-model="condition.value" class="form-control"></td>

                                          </tr>
           
                                      </table>

                                      <!-- <pre ng-bind="logical_var_node | json"></pre> -->

                                  </div>

                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                      <button type="submit" class="btn btn-positive" ng-click="create_logical_var_node()">Add Condition</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <!-- end of  modal-var-logical-attr -->

                  <!-- Logical Variable Modal Attributes modal-var-logical-top -->
                  <div class="modal var-modal" id="modal-var-logical-top" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <form role="form">
                          <div class="modal-dialog">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                      <h4 class="modal-title" id="myModalLabel">Logical Variables Attr</h4>
                                  </div>
                                  <div class="modal-body">
                                      <div class="row" ng-hide="logical_var.categories">
                                         <div class="col-sm-4" style="white-space:nowrap;">Number of categories:</div>
                                         <div class="col-sm-6"><input type="text" class="form-control" ng-model="logical_var.category_count"></div>
                                          <div class="col-sm-2">
                                              <button class="btn btn-primary form-control" ng-click="add_category_inputs()">Ok</button>
                                          </div>
                                      </div>

                                      <div class="row" ng-show="logical_var.categories">
                                         <div class="col-sm-10" style="white-space:nowrap;">Category Name</div>
                                         <div class="col-sm-2">Default</div>
                                         <!-- <div class="col-sm-2">Delete</div> -->
                                      </div>
                                      <div ng-repeat="category in logical_var.categories"  ng-show="logical_var.categories">
                                          <div class="row">
                                             <div class="col-sm-10"><input type="text" class="form-control" ng-model="category.name"></div>
                                             <div class="col-sm-2"><input type="radio" name="is_default" ng-model="category.is_default" ng-value="true" ng-click="set_node_default(category)"></div>
                                          </div>
                                      </div>

                                      

                                      <!-- <pre ng-bind="logical_var | json"></pre> -->

                                  </div>

                                  <div class="modal-footer" ng-show="logical_var.categories">
                                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                      <button type="submit" class="btn btn-positive" ng-click="create_logical_var_categories()">Add Categories</button>
                                  </div>
                              </div>
                          </div>
                      </form>
                  </div>
                  <!-- end of  modal-var-logical-top -->

                  <!-- Logical Variable Modal Attributes modal-var-logical-top -->
                  <div class="modal var-modal" id="confirmation-arithmetic-logical" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                  <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
                              </div>
                              <div class="modal-body">
                                  Please save existing variables first. <br> 
                                  Click on Cancel and Save the current variables. <br>
                                  Clicking on continue to create <b>{{current_var_type.label}}.</b> will discard all unsaved 'Behavioural ,Time based and Supplementary' variables.
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                  <button type="button" class="btn btn-positive" ng-click="clear_beh_rnt_spm_var($event)">Continue</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- end of  modal-var-logical-top -->

                  <!-- Variable Edit Modal -->
                      <div class="modal fade" id="modal-variable-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">Edit Variable</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                  <label for="variable_short_nm">Short Name <span class="required">*</span></label>
                                  <input type="text" class="form-control" id="variable_short_nm" placeholder="A short name for the variable." ng-model="edit_var.display_name" required>
                                </div>

                                <div class="form-group">
                                  <label for="variable_desc">Description <span class="required">*</span></label>
                                  <textarea name="" id="variable_desc" class="form-control" placeholder="Description of your variable" ng-model="edit_var.description" required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-disabled="!edit_var.display_name || !edit_var.description">Done</button>
                            </div>
                          </div>
                        </div>
                      </div>
              </div><!-- /.container -->
            </div><!-- /.inner -->
          </div><!-- /.outer -->
        </div>
        <!-- /Content -->

        <!-- Show hide buttons -->
        <div class="left_show_hide_button" id="left-navi-pan">
          <a data-placement="bottom" id="left-navi-go-btn"  data-original-title="Show / Hide Left" data-toggle="tooltip" class="btn btn-default btn-sm toggle-left" id="menu-toggle">
          <i class="fa fa-arrow-circle-left fa-2x" style="color:#00b4eb;"></i></a>
        </div>
        <div class="right_show_hide_button" id="right-navi-pan">
          <a data-placement="bottom" id="right-navi-go-btn" data-original-title="Show / Hide Right" data-toggle="tooltip" class="btn btn-default btn-sm toggle-right"><i class="fa fa-arrow-circle-left fa-2x" style="color:#00b4eb;"></i></a> 
        </div>
        <!-- Right Sidebar -->
        <div id="right" class="right_menu_bg_color" style="background-color: #303030;">
          <div class="bg-dark dk" id="wrap">
            <div id="top">
              <nav class="navbar navbar-inverse navbar-static-top" style="background-color:#222222 !important;" >
              </nav>
            </div>  
          </div>
        </div><!-- /#right -->
      </div><!-- /#wrap -->
    </div>
    <footer class="Footer bg-dark dker">
      <p>2015 &copy; Bizalyticks</p>
    </footer><!-- /#footer -->
  </body>
</html>

  





